# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / Packaging
dist/
build/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec.bak

# Logs
conversion_log_*.txt

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
